
<body>
    <div id="wrapper">
        
        <main>
          
            <section>
              
                <div class="aboutme">
                    <h2>About Me</h2>

                    <div class="card">
                        <div class="profile">
                            <img src="../assets/images/IMG-2017.JPG">
                        </div>
                        <p>Here I am after my presenting my senior projct DITS at ACCA</p>
                    </div>
                    <h3>Athletics</h3>
                    <div class="roster">
                        <p>My roster picture for my last year of cross country</p>
                        <img src="../assets/images/roster.jpg">

                    </div>
                </div>
                <div class="f1 hidden" >
                    <img src="https://img.redbull.com/images/c_fill,w_2150,h_485,g_auto,f_auto,q_auto/redbullcom/2021/4/28/hjt213jz6uue1smps7tn/rbr-rb12-poster-family">
                </div>
                <div class="hobbies">
                
                    <h2>Hobbies</h2>
                    <h4>I am an avid fan of formula one</h4>
                    <div class="row">
                        <div class="car card-hidden">
                           
                            <img src="../assets/images/IMG-3091.JPG">
                            <h4> Here I am with the RB18.Used by Max to win his championship.</h4>
                            <hr>
                            <p>I was able to watch the RB7 in action</p>
                        </div>
                        <div class="car card-hidden">
                            
                            <img src="../assets/images/IMG-3085.JPG">
                            <h4>Enjoying some free Red Bull at the Chicago Red Bull Showrun</h4>
                          <hr>
                            <p>Me and my uncle at the Red Bull showrun</p>
                        </div>
                        

                    
                    </div>
                    <p>Being able to experience watching the RB7 in live action was an incredible experience. My only
                        complaint was that the show was not long enough.</p>
                    <br>
                    <div class="car-vid card-hidden">Some nice V8 action
                        <video controls>
                            <source src="../assets/images/IMG_3179.mov">
                        </video>
                        <p>You can almost feel all 18,000 RPM's</p>
                    </div>
                  
                </div>
                <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
            </section>
        </main>

      
    </div>
</body>

